@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --primary : #031CFF;  
  --secondary : #0010A0;
  --trinary : #0B124A;
  --button-bg: #00926F;
}

body {
  overflow:visible;
  font-family: 'Rubik', sans-serif;   
}

img{
  user-select: none;
}

.title{
  background: linear-gradient(90deg, #031CFF 24.55%, #000000 96.98%);
  background-clip: text;
  color : transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.navbar_button{
  background: radial-gradient(220.45% 279.86% at 50% 98.86%, #031CFF 0%, rgba(114, 3, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.about-us-logo{
  filter : drop-shadow(0px 0px 50px rgba(255, 14, 14, 0.8))
}

.app-body-background{
  background: linear-gradient(180deg, rgb(208, 213, 255) 0%, #FFFFFF 100%);
}

button{
  user-select: none;
}

a {
  user-select: none;
}